<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/primerDivGeneral.ejs') %>
    
    <hr id="separador">
        
    <div class="container">
        <form class="row" method="POST" enctype="multipart/form-data" action="/user/<%=locals.usuario.id%>?_method=PUT">

            <div class="form-group text-center col-12">
                <h1 class="fuenteformtit">Tus Datos</h1>
            </div>
            <div class="form-group col-12">
              <h2 class="fuenteformsub links">Datos de la Cuenta</h2>
            </div>
            <div class="col-12 col-md-8 m-0 p-0">
                <!-- Datos de la cuenta -->
                
                <div class="form-inline form-group col-12 d-flex">
                  <label class="col-auto" for="userName">Nombre de Usuario: </label>
                  <div class="input-group flex-fill">
                    <div class="input-group-prepend">
                      <span class="input-group-text fuenteform" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control fuenteform" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" name="usuario" value="<%= locals.usuario.usuario %>">
                  </div>
                </div>
                <div class="form-inline form-group col-12 d-flex">
                  <label class="col-auto fuenteform" for="emailUser">E-mail: </label>
                  <input type="email" class="form-control flex-fill fuenteform" id="emailUser" placeholder="email@ejemplo.com" name="email" value="<%= locals.usuario.email %>">
                </div>
                <div class="form-inline form-group d-flex col-12">
                  <label for="changePassword" class="col-auto fuenteform">Cambiar Contraseña: </label>
                  <input type="password" class="form-control fuenteform col-auto flex-fill" id="changePassword" name="password" value="***">
                </div>
                <div class="form-inline form-group d-flex col-12">
                  <label for="repeatPassword" class="col-auto fuenteform">Reescribir Contraseña: </label>
                  <input type="password" class="form-control fuenteform col-auto flex-fill" id="repeatPassword" name="password2" value="***">
                </div>
                <div class="form-inline form-group d-flex col-12">
                  <label for="avatar" class="col-auto fuenteform">Insertar avatar: </label>
                  <input type="file" class="mt-1 form-control-file fuenteform col-auto flex-fill col-md-6" id="avatar" name="avatar" value="<%= locals.usuario.avatar %>">
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center
            col-12 col-md-4">
            <% if( locals.usuario != 'undefined'){ %>
              <img src="/img/avatar/<%= locals.usuario.avatar %>" class="rounded w-75" alt="...">
            <% } else { %>
              <img src="/img/avatar/avatarEmpty.jpg" class="rounded w-75" alt="...">
            <% } %>
            </div>
            <!--<div class="form-inline form-group d-flex ml-auto">
              <button type="submit" class="btn btn-dark form-control fuenteform">Guardar</button>
            </div>-->
         <!-- </form>-->

         <!-- <form class="row" method="POST" action="/user/<%= locals.usuario %>?_method=PUT">-->
            <!-- Datos personales -->
            <div class="form-group col-12 mt-4">
              <h2 class="fuenteformsub links">Datos Personales</h2>
            </div>
            <div class="form-inline form-group col-12 col-md-6 d-flex">
              <label class="col-auto fuenteform" for="nameUser">Nombre(s): </label>
              <input type="text" class="form-control fuenteform flex-fill" id="nameUser" placeholder="Nombre de Usuario" name="nombre" value="<%= locals.usuario.nombre %>">
            </div>
            <div class="form-inline form-group col-12 col-md-6 d-flex">
              <label class="col-auto fuenteform" for="lastNameUser">Apellido(s): </label>
              <input type="text" class="form-control fuenteform flex-fill" id="lastNameUser" placeholder="Apellido de Usuario" name="apellido" value="<%= locals.usuario.apellido %>">
            </div>
            <div class="form-inline form-group col-12 col-md-6 d-flex">
              <label class="col-auto fuenteform" for="dniUser">DNI: </label>
              <input type="text" class="form-control fuenteform flex-fill" id="dniUser" placeholder="Número de Documento" name="dni" value="<%= locals.usuario.dni %>">
            </div>
            <div class="form-inline form-group col-12 col-md-6 d-flex">
              <label class="col-auto fuenteform" for="phoneUser">Teléfono: </label>
              <input type="tel" class="form-control fuenteform flex-fill" id="phoneUser" placeholder="11 1234-5678" name="telefono" value="<%= locals.usuario.telefono %>">
            </div>
            <!-- Direccion -->
            <div class="form-inline form-group col-12 col-md-4 d-flex">
              <label class="col-auto fuenteform" for="inputAddress">Dirección: </label>
              <input type="text" class="form-control fuenteform flex-fill" id="inputAddress" placeholder="Calle Falsa" name="calle" value="<%= locals.usuario.calle %>">
            </div>
            <div class="form-inline form-group col-12 col-md-4 d-flex">
              <label class="col-auto fuenteform" for="inputAddress2">Altura: </label>
              <input type="text" class="form-control fuenteform flex-fill" id="inputAddress2" placeholder="123" name="altura" value="<%= locals.usuario.altura %>">
            </div>
            <div class="form-inline form-group col-12 col-md-4 d-flex">
              <label class="col-auto fuenteform" for="inputAddress3">Piso/Dpto: </label>
              <input type="text" class="form-control fuenteform flex-fill" id="inputAddress3" placeholder="1/A" name="dpto" value="<%= locals.usuario.dpto %>">
            </div>

              <div class="form-inline form-group col-12 col-md-5 d-flex">
                <label class="col-auto fuenteform" for="inputCity">Ciudad: </label>
                <input type="text" class="form-control fuenteform flex-fill" id="inputCity" name="ciudad" value="<%= locals.usuario.ciudad %>">
              </div>
              <div class="form-inline form-group col-12 col-md-4 d-flex">
                <label class="col-auto fuenteform" for="inputState">Provincia: </label>
                <input type="text" class="form-control fuenteform flex-fill" id="inputState" name="provincia" value="<%= locals.usuario.provincia %>">
              </div>
              <div class="form-inline form-group col-12 col-md-3 d-flex">
                <label class="col-4 fuenteform" for="inputZip">CP: </label>
                <input type="text" class="form-control fuenteform col-8" id="inputZip" name="cp" value="<%= locals.usuario.cp %>">
              </div>
              <!--<div class="form-inline form-group d-flex ml-auto">
                <button type="submit" class="btn btn-dark fuenteform form-control">Guardar</button>
              </div>-->

          <!--</form>-->

          <!--<form class="row" method="POST" action="/user/<%= locals.usuario %>?_method=PUT">-->

            <!-- Datos de las tarjetas -->
            <div class="form-group col-12 mt-4">
              <h2 class="fuenteformsub links">Tarjetas del Usuario</h2>
            </div>
            <div class="form-inline form-group col-12 col-md-6 d-flex">
              <label class="col-auto fuenteform" for="nameCard">Nombre del titular de la tarjeta: </label>
              <input type="text" class="form-control fuenteform flex-fill" id="nameCard" placeholder="Nombre Completo del Titular" name="titularTarjeta" value="<%= locals.usuario.titularTarjeta %>">
            </div>
            <div class="form-inline form-group col-12 col-md-6 d-flex">
              <label class="col-auto fuenteform" for="dniCard">DNI del titular de la tarjeta: </label>
              <input type="text" class="form-control fuenteform flex-fill" id="dniCard" placeholder="Número de Documento" name="dniTitular" value="<%= locals.usuario.dniTitular %>">
            </div>
            <div class="form-inline form-group col-12 col-md-6 d-flex">
              <label class="col-auto fuenteform" for="creditCardUser">Tarjeta: </label>
              <input type="text" class="form-control fuenteform flex-fill" id="creditCardUser" placeholder="Visa - Mastercard" name="tarjeta" value="<%= locals.usuario.tarjeta %>">
            </div>
            <div class="form-inline form-group col-12 col-md-6 d-flex">
              <label class="col-auto fuenteform" for="numCreditCardUser">N° de Tarjeta: </label>
              <input type="text" class="form-control fuenteform flex-fill" id="numCreditCardUser" placeholder="1111-2222-3333-4444" name="nroTarjeta" value="<%= locals.usuario.nroTarjeta %>">
            </div>
            <div class="form-inline form-group col-12 col-md-6 d-flex">
              <label class="col-auto fuenteform" for="expire">Fecha de Vencimiento: </label>
              <input type="month" class="form-control fuenteform flex-fill" id="expire" name="vencimiento" value="<%= locals.usuario.vencimiento %>">
            </div>
            <div class="form-inline form-group d-flex col-12 col-md-6">
              <label for="code" class="col-auto fuenteform">Codigo de Seguridad: </label>
              <input type="password" class="form-control fuenteform col-auto flex-fill" id="code" placeholder="***">
            </div>
            <div class="form-inline form-group d-flex ml-auto">
              <button type="submit" class="btn btn-dark fuenteform form-control">Guardar</button>
              <a type="button" class="close btn-sm mx-3" href="/delete" aria-label="Close">
                <img src="/img/icons/trash.svg" class="img-fluid icono2" title="Eliminar" alt="">
              </a>
            </div>
        </form>
    </div>
    
    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/scriptBootstrap.ejs') %>
    
</body>
</html>