

<!DOCTYPE html>
<html lang="en">

    
  <%- include('../partials/head.ejs') %>

<body>
    
    <%- include('../partials/primerDivGeneral.ejs') %>
        
    <hr id="separador">
    <br>

    <div class="row">
        <div class="col-12">
            <h1 class="TuBolso">Tus Publicaciones</h1>
        </div>
    </div>

 
    <section class="row">
        <article class="col-12" >
            <a class="nav-link text-center" style="font-size:20px" href="/cargaProducto"><ion-icon name="log-out-outline"></ion-icon>Agregar</a>
        </article>
    </section>

    <table class="table mt-5">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nombre del Produco</th>
              <th>Ver</th>
              <th>Editar</th>
              <th>Borrar</th>
          </tr>
    </thead>
    <tbody>
        <% productosUsuario.productos.forEach(producto => { %>
            <tr>
                <td><%= producto.product_id %> </td>
                <td><%= producto.marca%> </td>
                <td><a href="/misProductos/detail/<%= producto.product_id%>"><ion-icon name="eye-outline"></ion-icon></a></td>
                <td><a href="/misProductos/edit/<%= producto.product_id%>"><ion-icon name="create-outline"></ion-icon></a></td>
                <td><a href="/misProductos/delete/<%= producto.product_id%>?_method=DELETE"><ion-icon name="trash-outline"></ion-icon></a></td>
            </tr>
        <% }) ; %>
        

    </tbody>

    </table>    



<%- include('../partials/footer.ejs') %>

<%- include('../partials/scriptBootstrap.ejs') %>

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

</body>
</html>