

<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %>

<body>
    
    <%- include('../partials/primerDivGeneral.ejs') %>
        
        <hr id="separador">
        <br>


        <br>
             
       

    </div>
        

    <section class="bg-home pt-4">
        <div class="container">
            <div class="row" >
                <div class="col-6  bg-light ">
                        <ul class="list-group">
                            <li class="list-group-item">Marca: <%= productoDetalle.marca%></li>
                            <li class="list-group-item">Categoria: <%= productoDetalle.categoria%></li>
                            <li class="list-group-item">Resumen: <%= productoDetalle.resumen%></li>
                            <li class="list-group-item">Precio: <%= productoDetalle.precio%></li>
                            <li class="list-group-item">Descripcion: <%= productoDetalle.descripcion%></li>
                            <li class="list-group-item">Temporada: <%= productoDetalle.temporada%></li>
                            <li class="list-group-item">Temporada: <%= productoDetalle.talle%></li>
                            <li class="list-group-item">Color: <%= productoDetalle.color%></li>
                        </ul>
                    </div>
                    <div class="col-6  bg-light ">
                          <figure class="form-group">
                            <img class="w-100 " src="/imagenesProdCargados/<%= productoDetalle.imagen%>" alt="Plato de comida">
                            <!-- <form action="/carrito/adicionarAlCarrito" method="post" class="form-inline" >
                              <input type="hidden"  name="productId" value="<%= productoDetalle.id%>">
                              
                              
                              <button class="btn btn-success" type="submit">AGREGAR AL CARRITO</button>
                              <label for="cantidad">Cantidad</label>
                              <input  class="form-control" type="number" id="cantidad" name="cantidad" value="1">
                            </form> -->
                      </div> 
                    <!-- <a class="btn btn-danger" href="/productos">Volver</a> -->
                </div>                        
            </div>
        </div>
    </section>
        
    <div class="row">
        <div class="botonesDetalleCompra">
            <button type="button" class="btn btn-primary botonCompra button3">Agregar A Favoritos</button>
            <button type="button" class="btn btn-primary botonCompra2 button3">Agregar Al Bolso</button>
        </div>
    </div>
    






    <br>
    <br>
    <br>



</div>

<%- include('../partials/footer.ejs') %>

<%- include('../partials/scriptBootstrap.ejs') %>

</body>
</html>